.link{
  display: flex;
  flex-direction: row;
  border-top: 1px solid $subtitle-color;
  width: 75%;
  margin: 0 auto;
  padding: 30px 20px;
  font-size: 20px;
  font-family: $font;

  p, a, i{
    margin: 0;
    padding: 0;
  }

  p{
    color: $subtitle-color;
    font-weight: bolder;
    width: 40%;
  }

  a{
    color: $user-name-color;
    text-decoration: none;
    width: 50%;
    cursor: default;
  }

  i{
    color: $subtitle-color;
    font-size: 17px;
  }

  .link-icon{
    color: $color-sent;
    padding-right: 25px;
  }

  .icons {
    display: none;
  }
}

.link.last{
  border-bottom: 1px solid $subtitle-color;
}

.link:hover{
  background-color: $body-color;

  .icons {
    display: inherit;

    i:hover{
      font-size: 20px;
      cursor: default;
    }
  }
}
