@media (max-width: 1024px){
  .layout{
    margin-left: 50px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .sidebar{
    h1{
      margin-bottom: 0;

      i{
        display: inline-block;
        margin-left: 10px;
      }
    }
  }

  .main-container .display-container{
    .top-bar{
      width: 100%;
      margin-top: 70px;
      padding-top: 10px;
    }
  }

  .main-container {
    margin: 0;
    flex-direction: column;
    width: 100%;

    .display-container{
      margin-left: 0;
      width: 100%;
    }
  }

  .layout{
    width: 100%;
    margin: 0;
  }

  .sidebar{
    height: 70px;
    width: 100%;
    z-index: 2;

    h1{
      padding-bottom: 0;
    }

    .menu{
      display: none;
      background-color: inherit;
    }

    i:hover{
      cursor: pointer;
    }

    .show{
      display: block;
      background-color: inherit;
      z-index: 2;
      padding-top: 10px;
    }
  }

  .top-bar{
    margin: 70px 0 0 0;
    width: 100%;

    p{
      font-size: 15px;
      padding: 0;
      margin-left: 3px;
    }

    i{
      font-size: 5px;
      padding: 0 3px;
    }
  }

  .layout{
    margin-top: 10px;
  }

  .date{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    p{
      margin: 0;
      padding: 10px 0;
      display: block;
      text-align: center;

      i{
        display: none;
      }
    }

    .date-finish{
      border-top: solid 1.5px $subtitle-color;
      border-left: none;

      i{
        color: $subtitle-color;
      }
    }
  }

  .statistic{
    flex-direction: column;

    .left, .right{
      width: 100%;
      align-items: center;
    }
  }

  .chart img{
    width: 400px;
  }

  .link{
    display: flex;
    flex-direction: column;

    p, a, i{
      margin: 7px 0;
      text-align: start;
      width: 100%;
    }

    .icons{
      width: 20%;
    }
  }

  .links .button{
    width: 30%;
  }

  .personal-data{
    display: flex;
    justify-content: center;
  }

  .personal-data .form-data{
    flex-direction: column;
    width: 80%;

    input{
      width: 100%;
    }

    label{
      width: 100%;
      padding: 10px 0;
    }

    button{
      width: 100%;
    }
  }

  .button.save{
    width: 30%;
    margin: 20px auto;

    p{
      padding: 10px 0;
      margin: 0;
    }
  }

  .modal-message{
    .photo{
      img{
        width: 30%;
        height: 15%;
      }
    }

    .conversation{
      i{
        font-size: 30px;
      }
    }

    .send-message{
      padding: 0;
      width: 100%;

      .message-text{
        width: 60%;
      }

      .button{
        width: 20%;
        font-size: 18px;
        margin-left: 3px;
      }
    }
  }

  .modal-quit{
    width: 70%;
  }

  .modal-login{
    width: 100%;
  }
}

@media (max-width: 540px) {
  .main-container .display-container{
    margin-left: 0;
    width: 100%;
  }

  .layout{
    width: 100%;
    margin: 15px 0;
  }

  .top-bar{
    p{
      font-size: 15px;
      margin-left: 3px;

      i{
        font-size: 12px;
        padding: 0 3px;
      }
    }
  }

  .chart{
    img{
      width: 90%;
    }
  }

  .link{
    margin: 0 2px;
    width: 95%;

    a{
      width: 70%;
      font-size: 15px;
    }
  }

  .links .button{
    width: 40%;
  }

  .modal-message{
    width: 100%;

    .header{
      h4{
        font-size: 18px;
      }
    }

    .photo{
      img{
        width: 50%;
        height: 30%;
      }
    }

    .conversation{
      i{
        font-size: 30px;
      }
    }

    .send-message{
      padding: 0;
      width: 100%;


      .message-text{
        width: 70%;
        margin: 0;
        height: 40px;
        font-size: 15px;
      }

      .button{
        width: 30%;
        height: 40px;
        font-size: 15px;
        padding: 2px;
        margin: 0 3px;
      }
    }
  }

  .modal-quit{
    margin: 0;
    width: 90%;
  }

  .modal-login{
    width: 100%;
  }
}
