/* Colors */
$logo-color: #fffffe;
$sidebar-background-color: #1b1b1b;
$body-color: #e4e4e2;
$sidebar-hover-background-color: #4b4b4b;
$sidebar-text-color: #aaaaaa;
$subtitle-color: #BABABA;
$border-color: #E3E3E3;
$user-name-color: #56819F;
$button-color: #F58220;
$color-paid: #9accd4;
$color-sent: #ec9a4d;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$logo-font: "Bilbo", cursive;
$font: "Roboto", sans-serif;

